fastapi==0.124.4
uvicorn[standard]==0.38.0
sqlalchemy==2.0.45
psycopg2-binary==2.9.11
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
pydantic-settings==2.12.0
alembic==1.17.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
email-validator==2.3.0email-validator==2.3.0
